$main-font : 'Caveat', cursive;
$title-font : 'Satisfy', cursive;

$theme-colors: (
  "primary": #eb1e25,
  "secondary": #fcfcfc,
  // "tertiary": ,
);

@import "../node_modules/bootstrap/scss/bootstrap";

.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#slide-1 {
	background-image: url('../../assets/images/landing/bg-2.jpeg');
}

#slide-2 {
	background-image: url('../../assets/images/landing/bg-3.jpeg');
}

#slide-3 {
	background-image: url('../../assets/images/landing/bg-1.jpg');
}

#carouselExampleIndicators {
	position: relative;
}

#landing-title {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translate(0, -50%);
}

#banner{
	background: url('../../assets/images/landing/bg-1.jpg');
	background-size: cover;
	min-height: 700px;

	.bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 700px;
	}
}


#brand-name {
	font-family: $title-font;
	font-size: 30px;
}

h2 {
	font-family: $title-font;
	font-size: 45px;
}

.logo-name {
	font-family: $title-font;
	font-size: 65px;
	margin-top: 140px;
}	

#subtitle {
	font-family: $main-font;
	font-size: 45px;
	// font-weight: bold;
}

.inner {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translate(0, -50%);
	
	a {
		font-family: $main-font;
	}
}

.thumbnail {
	margin: 5px;
	border: 1px solid #ccc;
	float: center;

	img {
		width: 100%;
		height: auto;
	}
}

#promos {
	padding: 40px 0px;
}

.header-h {
	font-family: $title-font;
	font-weight: 300;
	font-size: 46px;
}

#intro {
	.page-scroll {
		text-align: center;
	}

	.fa {
		display: inline-block;
	}
	.fa-5x {
		font-size: em;
	}
}

#about {
	padding-top: 100px;

	#about-intro
	{
		background-color: rgba(128, 128, 128, 0.3);
	}

	img {
		border-radius: 2px;
		float: none;
	}

	.img-responsive {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.about-info
	{
		font-family: $main-font;
		font-size: 25px;
	}
}

#gallery {
	.bg {
		padding-top: 80px;
		height: 100%;
	}

	#card {
		width: 500px;
		height: 500px;
		margin-bottom: 20px;
	}
		img {
			width: 100%;
			height: 100%;
			border-radius: 0px;
		}	
}

#contact {
		padding-top: 100px;

	#contact-intro
	{
		background-color: rgba(128, 128, 128, 0.3);
	}

	.header-p
	{
		font-family: $main-font;
		font-size: 30px;
	}
}

.form-group {
	.btn {
		font-family: $main-font;
		font-size: 20px;
		font-weight: bold;
	}
}

.modal-dialog{
 position: relative;
 display: table;
 overflow-y: auto;    
 overflow-x: auto;
 width: auto;
 height: auto;  
 }

 .modal-content {
   height: auto;
   width: 65vw;
   max-width: 700px;
 }

 #modal-img {
   height: 100%;
   width: 100%;
 }

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
	#map {
		width: 100%;
		height: 100%;
	}
}

// @media only screen and (min-width: 401px) and (max-width: 960px) {
// 	.contact-form {
// 		width: 50%;
// 		float: left;
// 	}
// }